.render {
    background: url(../img/background.jpg);
    background-size: cover;
    
}

.container{
    position: fixed;
    top: 0px;
    right: 0px;
    position: relative;    
}

@keyframes thing{
    0%{transform: rotate(0deg)}
    3%{transform: rotate(-2deg)}
    4%{transform: rotate(2deg)}
    5%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

.p-1{
    border-radius: 10px;
    color: rgb(102, 86, 86);
    box-shadow: 0 1px 0px rgba(54, 40, 40, 0.5);
    animation: thing 3s infinite;

}

.box {
    background: rgba(107, 107, 107, 0.8);
    box-shadow: 0 15px 25px rgba(54, 40, 40, 0.5);
    /* border-radius: 10px; */
    padding: 0.3rem 0 !important;
    text-align: center;
}
.box2 {
    background: rgba(107, 107, 107, 0.8);
    box-shadow: 0 15px 25px rgba(54, 40, 40, 0.5);
    /* border-radius: 10px; */
    padding: 0.3rem 0 !important;
    text-align: center;
    
}

.box:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.box2:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.about-chap{
    /* margin-top: 2%;
    margin-bottom: 5%; */
    margin: auto;
}

/* .about-creators{

} */