.form-login {
    width: 100px;
}

form {
    width: 450px;
    min-height: 300px;
    height: auto;
    border-radius: 5px;
    margin: 7% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-color: #FFE6FA;
}

form .con {
    display: -webkit-flex;
    display: block;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 60%;
  
      margin: 0 auto;
}

header h2 {
    text-align: center;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
    margin: 0;
}

header h3 {
    text-align: center;
    font-size: 100%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

h3 {
    text-align: center;
    font-size: 100%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
    padding: 0px 10px 0px 0px;
}

.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}

input[class="form-control"]{
    width: 240px;
    height: 30px;
  
    margin-top: 2%;
    padding: 10px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
input[id="form-control"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

button {
    display: inline-block;
    color: #252537;
  
    width: 260px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 10% auto;
    letter-spacing: 0.05em;
}
/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
.frgt-pass {background: transparent;}

/*     Sign Up button  */
.sign-up {background: #B8F2E6;}


/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}